extends baseEmail

block content
    p Hi #{firstName},
    p Welcome to InExchg, we're glad to have you 🎉🙏
    p We're all a big familiy here, so make sure to upload your user photo so we get to know you a bit better!
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Upload user photo
    p If you need any help with InExchg, please don't hesitate to contact me!
    p - Mukul, CEO
